.slide__caption {
  left: 0%;
  bottom: 10px;
  color: #fff;
}
.layout {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.4s;
  top: 100%;
}
.slide__card img {
  display: block;
  cursor: pointer;
  height: 374px;
  object-fit: cover;
}
.slide__card img:hover + .layout,
.layout:hover {
  opacity: 1;
  top: 0;
}
.slide__caption h4 {
  position: relative;
  transform: translateX(-110%);
  transition: all 0.2s 0.2s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: all 0.2s 0.2s;
  -moz-transition: all 0.2s 0.2s;
  -ms-transition: all 0.2s 0.2s;
  -o-transition: all 0.2s 0.2s;
}
.slide__caption p {
  position: relative;
  transform: translateX(-110%);
  transition: all 0.2s 0.3s;
  -webkit-transition: all 0.2s 0.3s;
  -moz-transition: all 0.2s 0.3s;
  -ms-transition: all 0.2s 0.3s;
  -o-transition: all 0.2s 0.3s;
}
.layout:hover .slide__caption h4 {
  opacity: 1;
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}
.layout:hover .slide__caption p {
  opacity: 1;
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}
/* popup style */
.popup {
  background-color: rgb(256, 256, 256, 0.4);
  backdrop-filter: blur(10px);
  /* -webkit-filter: blur(100%); */
}
.popup__img {
  background-image: url(../img/1.jpg);
  /* width: 100%; */
  height: 80%;
  object-fit: contain;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.popup__img i {
  cursor: pointer;
}
